<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
	<link href='res/style.css' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="res/nav.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic,700italic,700,300,300italic|Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
</head>

{{ content }}

</html>